<nav class="navbar navbar-expand-lg navbar-light  py-3" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="#">
            <img src="https://ekartlogistics.com/assets/images/ekWhiteLogo.png" alt="" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" style="background-color: rgb(183, 183, 219);" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <button class="btn btn-outline-light position-relative" routerLink="/wish"> 
                            <span    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{wishCount}}
                            </span>
                            WishList
                        </button>
                    </li>
                    <li class="nav-item mx-2">
                        <button class="btn btn-outline-light position-relative" routerLink="/cart"> 
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{cartCount}}
                            </span>
                            Cart
                        </button>
                    </li>
                    <li class="nav-item mx-2">
                        <button class="btn me-1" routerLink="/login">
                            <span *ngIf="username;else elsecase">
                              {{username}}
                            </span>
                            <ng-template #elsecase>
                              Login
                            </ng-template>
                          </button>
                          <button class="btn me-1 p-3  rounded border-dark btn-outline-dark text-uppercase" *ngIf="username">
                            LogOut
                        </button>
                    </li>
                </ul>

        </div>
    </div>
</nav>