<div class="container-fluid" style="background-color: black;">

    <div class="row" style="border-bottom: 2px solid red;">
        <div class="col mt-5 ms-5"> 
            <h3 class="text-light">Ekart</h3>
            <p class="text-light" style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laboriosam veniam sed consectetur sint iste repudiandae itaque beatae voluptatum unde, voluptas.
            </p>
        </div>
        <div class="col mt-5 d-flex flex-column align-items-center">
            <h3 class="text-light">
                Links
            </h3>
            <a routerLink="/login" class="text-light d-block">Login</a>
            <a routerLink="/reg" class="text-light d-block">Registert</a>
            <a routerLink="/cart" class="text-light d-block">Cart</a>
            <a routerLink="/wishlist" class="text-light d-block">Wishlist</a>
        </div>
        <div class="col mt-5">
            <h3 class="text-light">References</h3>
            <a href="" class="text-light d-block">Bootstrap</a>
            <a href="" class="text-light d-block">Fontawesome</a>
            <a href="" class="text-light d-block">Fontawesome</a>
            <a href="" class="text-light d-block">Fontawesome</a>
        </div>
        <div class="col mt-5 me-5 mb-5">
            <h3 class="text-light">Contacts</h3>
            <input type="text" placeholder="Enter your mail id" class="form-control">
            <button class="btn btn-success mt-3">Submit</button>

        </div>

    </div>
    <h4 class="text-center text-light mb-3 p-3">Ekart 2024 &copy; copyrights reserved</h4>
</div>